.App {
  text-align: center;
}

.singleBook{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3vw;
}
.img{
  height: 10vw;
}
.title{
  width: 8vw;
  max-width: 8vw;
  display: flex;
  justify-content: flex-start;

}
.author{
  width: 8vw;
  max-width: 8vw;
  display: flex;
  justify-content: flex-start;

}
.pages{
  width: 7vw;
  max-width: 8vw;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}
.img{
  width: 10vw;
  max-width: 8vw;
  display: flex;
  justify-content: flex-start;

}